#description__container {
  background-color: #f3f3f3;
  border-radius: 0.4em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  width: 40%;
  margin: auto;
  padding: 1em 2em 2em 2em;
  font-size: 1em;
}

h2 {
  text-transform: capitalize;
}

#description__container__info {
  margin: auto;
}

#description__info__stats {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
}

#stats {
  justify-content: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin: 1em 0.4em;
}

h4 {
  margin: 0;
}

@media (max-width: 1024px) {
  #description__container {
    width: 60%;
    height: auto;
  }
}

@media (max-width: 640px) {
  #description__container {
    width: 65%;
  }
}
